# Data Importing and Cleaning

___
In this notebook, the data files from [this site](https://www.fantasyfootballdatapros.com/csv_files) were downloaded onto my local drive. I chose to use only the years 2011 through 2019 as those are the most recent years available. 

I then had to track down 2020 final rankings in order to serve as my testing data from [fantasy data](https://fantasydata.com/nfl/fantasy-football-leaders?season=2020&seasontype=1&scope=1&subscope=1&scoringsystem=2&aggregatescope=1&range=3).

### Import Libraries

In [1]:
import pandas as pd
import os
import numpy as np

### Importing Training and Testing Data

In this section the training and testing data is separated. As the training data came from multiple csv files, the cloeaning process for those files occured when they were being read in (see below for loop). The test file was cleaned in the next section.

In [2]:
# upload the training dfs (yrs 2011-2019)
training = os.listdir('/Users/qghaemi/Desktop/ff_data/training')

# show training to confirm it worked
training

['2019.csv',
 '2018.csv',
 '2015.csv',
 '2014.csv',
 '2016.csv',
 '2017.csv',
 '2013.csv',
 '2012.csv',
 '2011.csv']

In [3]:
# upload the testing df
test_df = pd.read_csv('/Users/qghaemi/Desktop/ff_data/2020.csv')

# confirm the upload worked
test_df.head()

,Unnamed: 0,Player,Tm,Pos,G,PassingYds,PassingTD,Int,RushingYds,RushingTD,Rec,ReceivingYds,ReceivingTD,FantasyPoints
0,1,Josh Allen,BUF,QB,16,4544,37,10,421,8,1,12,1,396.06
1,2,Aaron Rodgers,GB,QB,16,4299,48,5,149,3,1,-6,0,383.26
2,3,Kyler Murray,ARI,QB,16,3971,26,12,819,11,0,0,0,378.74
3,4,Alvin Kamara,NO,RB,15,0,0,0,932,16,83,756,5,377.80
4,5,Patrick Mahomes,KC,QB,15,4740,38,6,308,2,0,0,0,374.40

In [4]:
# upload one file from training as a trial run - will create a loop to iterate this process
df = pd.read_csv('/Users/qghaemi/Desktop/ff_data/training/2019.csv')

# confirm this worked
df.head()

# check what rows will need to be changed
#df.info()

# columns to drop: tm, attYds Att.1 Yds.1 Yds.2, Y/R
# should also drop columns that are not in testing df: 
df.drop(columns=['Unnamed: 0', 'Tm', 'Att', 'Yds', 'Att.1', 'Yds.1', 'Yds.2', 'Y/R', 'RushingAtt', 'Age',
                'GS', 'Cmp', 'Tgt', 'Fumbles', 'FumblesLost', 'PassingAtt'], inplace=True)




# change column names to snakecase
df.rename(columns={
    'Player': 'player',
    'Pos': 'position',
    'G':'games',
    'Rec':'receptions',
    'PassingYds':'passing_yds',
    'PassingTD':'passing_td',
    'ReceivingYds':'receiving_yds',
    'ReceivingTD': 'receiving_td',
    'FantasyPoints':'fantasy_points',
    'RushingYds': 'rushing_yds', 
    'RushingTD':'rushing_td',
    'Int': 'interceptions'
}, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   player          620 non-null    object
 1   position        620 non-null    object
 2   games           620 non-null    float64
 3   interceptions   620 non-null    float64
 4   receptions      620 non-null    float64
 5   passing_yds     620 non-null    float64
 6   passing_td      620 non-null    float64
 7   rushing_yds     620 non-null    float64
 8   rushing_td      620 non-null    float64
 9   receiving_yds   620 non-null    float64
 10  receiving_td    620 non-null    float64
 11  fantasy_points  620 non-null    float64
dtypes: float64(10), object(2)
memory usage: 58.2+ KB

In [5]:
# generate an empty list will populate this with 
training_list = []
# loop through each csv file in the training dir
# will want to add a column that will include the year that data is from (will be important when data is merged)
for i in training:
    
    # read in the csv file
    new_df = pd.read_csv(f'/Users/qghaemi/Desktop/ff_data/training/{i}')
    
    # drop columns
    new_df.drop(columns=['Unnamed: 0', 'Tm', 'Att', 'Yds', 'Att.1', 'Yds.1', 'Yds.2', 'Y/R', 'RushingAtt', 'Age',
                         'GS', 'Cmp', 'Tgt', 'Fumbles', 'FumblesLost', 'PassingAtt'], inplace=True)
    
    # rename columns
    new_df.rename(columns={
        'Player': 'player',
        'Pos': 'position',
        'G':'games',
        'Rec':'receptions',
        'PassingYds':'passing_yds',
        'PassingTD':'passing_td',
        'ReceivingYds':'receiving_yds',
        'ReceivingTD': 'receiving_td',
        'FantasyPoints':'fantasy_points',
        'RushingYds': 'rushing_yds', 
        'RushingTD':'rushing_td',
        'Int': 'interceptions'
}, inplace=True)
    
    # create the year col | use split to split the name and only keep the year
    new_df['year'] = i.split('.')[0]
    
    # change col type to int
    new_df['year']= new_df['year'].astype(int)
    
    # append each df to the empty list
    training_list.append(new_df)
    
# confirm the length of training_list should be 9 df's
len(training_list)

9

In [6]:
# concat all the dfs together
full_training_df = pd.concat(training_list)

# check fulltrainingdf
full_training_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5574 entries, 0 to 584
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   player          5574 non-null   object
 1   position        5574 non-null   object
 2   games           5574 non-null   float64
 3   interceptions   5574 non-null   float64
 4   receptions      5574 non-null   float64
 5   passing_yds     5574 non-null   float64
 6   passing_td      5574 non-null   float64
 7   rushing_yds     5574 non-null   float64
 8   rushing_td      5574 non-null   float64
 9   receiving_yds   5574 non-null   float64
 10  receiving_td    5574 non-null   float64
 11  fantasy_points  5574 non-null   float64
 12  year            5574 non-null   int64
dtypes: float64(10), int64(1), object(2)
memory usage: 609.7+ KB

In [7]:
# confirm there are the right year values in the year col
full_training_df.year.value_counts()

2014    725
2012    688
2018    622
2019    620
2015    595
2011    585
2016    584
2013    584
2017    571
Name: year, dtype: int64

This is interesting that there are uneven numbers of information from each year, however this does make sense as the same players do not play every year. There is bound to be some years that see more players participate in a game thus showing up in these data sets. As we are most focused in finding the rankings, and even more focused on the top rankings, opting to cut some of the data from the bottom half of the years could make sense.

It is important to preserve as much data as possible for now as this large dataframes will need to be broken up by position in order to better process the fantasy scores.

In [8]:
# show unique values in position col
full_training_df.position.unique()

array(['RB', 'QB', 'WR', 'TE', '0'], dtype=object)

In [9]:
# check what the 0 position type leads to, my guess is players who either play multiple positions or did not play enough
full_training_df[full_training_df['position']=='0']

# show how many observations fall in this category
print(len(full_training_df[full_training_df['position']=='0']))

# show the sum of fantasy points for players in this grouping, if it is low enough can ignore these players
full_training_df[full_training_df['position']=='0']['fantasy_points'].sum()

699

-34.0

In [10]:
# drop the observations that have a pos value of '0'
full_training_df = full_training_df[full_training_df['position'] != '0']

Given the negative total Fantasy Points scored for almost 700 players comes out to a negative number, ignoring these players should allow our model to perform much better.

In [11]:
# show the first five of full_training_df
full_training_df.head()

,player,position,games,interceptions,receptions,passing_yds,passing_td,rushing_yds,rushing_td,receiving_yds,receiving_td,fantasy_points,year
0,Christian McCaffrey,RB,16.0,0.0,116.0,0.0,0.0,1387.0,15.0,1005.0,4.0,469.20,2019
1,Lamar Jackson,QB,15.0,6.0,0.0,3127.0,36.0,1206.0,7.0,0.0,0.0,415.68,2019
2,Derrick Henry,RB,15.0,0.0,18.0,0.0,0.0,1540.0,16.0,206.0,2.0,294.60,2019
3,Aaron Jones,RB,16.0,0.0,49.0,0.0,0.0,1084.0,16.0,474.0,3.0,314.80,2019
4,Ezekiel Elliott,RB,16.0,0.0,54.0,0.0,0.0,1357.0,12.0,420.0,2.0,311.70,2019

### Data Cleaning: Test Data

___
In this section the testing dataframe was cleaned.

In [12]:
# show testing info
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     300 non-null    int64
 1   Player         300 non-null    object
 2   Tm             300 non-null    object
 3   Pos            300 non-null    object
 4   G              300 non-null    int64
 5   PassingYds     300 non-null    int64
 6   PassingTD      300 non-null    int64
 7   Int            300 non-null    int64
 8   RushingYds     300 non-null    int64
 9   RushingTD      300 non-null    int64
 10  Rec            300 non-null    int64
 11  ReceivingYds   300 non-null    int64
 12  ReceivingTD    300 non-null    int64
 13  FantasyPoints  300 non-null    float64
dtypes: float64(1), int64(10), object(3)
memory usage: 32.9+ KB

In [13]:
# drop cols: unnamed:0, Tm, 
test_df.drop(columns=['Unnamed: 0', 'Tm'], inplace=True)

# rename columns to snakecase
test_df.rename(columns={
    'Player': 'player',
    'Pos': 'position',
    'G':'games',
    'Rec':'receptions',
    'PassingYds':'passing_yds',
    'PassingTD':'passing_td',
    'ReceivingYds':'receiving_yds',
    'ReceivingTD': 'receiving_td',
    'FantasyPoints':'fantasy_points',
    'RushingYds': 'rushing_yds',
    'RushingTD':'rushing_td',
    'Int': 'interceptions'
}, inplace=True)

In [14]:
# add a year column to testing data
test_df['year'] = 2020

In [15]:
# confirm the changes have been made
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   player          300 non-null    object
 1   position        300 non-null    object
 2   games           300 non-null    int64
 3   passing_yds     300 non-null    int64
 4   passing_td      300 non-null    int64
 5   interceptions   300 non-null    int64
 6   rushing_yds     300 non-null    int64
 7   rushing_td      300 non-null    int64
 8   receptions      300 non-null    int64
 9   receiving_yds   300 non-null    int64
 10  receiving_td    300 non-null    int64
 11  fantasy_points  300 non-null    float64
 12  year            300 non-null    int64
dtypes: float64(1), int64(10), object(2)
memory usage: 30.6+ KB

In [16]:
test_df.columns

Index(['player', 'position', 'games', 'passing_yds', 'passing_td',
       'interceptions', 'rushing_yds', 'rushing_td', 'receptions',
       'receiving_yds', 'receiving_td', 'fantasy_points', 'year'],
      dtype='object')

In [17]:
full_training_df.columns

Index(['player', 'position', 'games', 'interceptions', 'receptions',
       'passing_yds', 'passing_td', 'rushing_yds', 'rushing_td',
       'receiving_yds', 'receiving_td', 'fantasy_points', 'year'],
      dtype='object')

In [18]:
# show unique values for position
test_df.position.unique()

array(['QB', 'RB', 'WR', 'TE', 'ILB', 'OLB', 'K', 'DST', 'SS', 'LB', 'S',
       'FS', 'DT', 'CB', 'DE'], dtype=object)

In [19]:
# we only care about QB, RB, WR, TE so create a mask that only keeps those values
test_df = test_df[(test_df['position'] == 'QB') | (test_df['position'] == 'RB') | (test_df['position'] == 'WR') | (test_df['position'] == 'TE')]

In [20]:
# confirm it worked
test_df.position.unique()

array(['QB', 'RB', 'WR', 'TE'], dtype=object)

In [21]:
# check how many observations are remaining
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176 entries, 0 to 298
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   player          176 non-null    object
 1   position        176 non-null    object
 2   games           176 non-null    int64
 3   passing_yds     176 non-null    int64
 4   passing_td      176 non-null    int64
 5   interceptions   176 non-null    int64
 6   rushing_yds     176 non-null    int64
 7   rushing_td      176 non-null    int64
 8   receptions      176 non-null    int64
 9   receiving_yds   176 non-null    int64
 10  receiving_td    176 non-null    int64
 11  fantasy_points  176 non-null    float64
 12  year            176 non-null    int64
dtypes: float64(1), int64(10), object(2)
memory usage: 19.2+ KB

### Export Training and Testing DataFrames

In [22]:
# export training df for EDA
full_training_df.to_csv('./data/training_full.csv')

# export testing df for EDA
test_df.to_csv('./data/test_full.csv')

### Create Position Specific DataFrames

___
This section will break both the training and testing DataFrames into training and testing by position. Given the way Fantasy Football is structured scoring wise, I chose to create individual models for each position and return position specific rankings.

In [23]:
# check distribution of positions for training and testing data
print(full_training_df.position.value_counts(), test_df.position.value_counts())

full_training_df.position.value_counts(normalize=True), test_df.position.value_counts(normalize=True)

WR    1815
RB    1466
TE     946
QB     648
Name: position, dtype: int64 WR    73
RB    46
QB    36
TE    21
Name: position, dtype: int64

(WR    0.372308
 RB    0.300718
 TE    0.194051
 QB    0.132923
 Name: position, dtype: float64,
 WR    0.414773
 RB    0.261364
 QB    0.204545
 TE    0.119318
 Name: position, dtype: float64)

Despite the significantly fewer observations for testing vs. training data, there is a similar distribution of players in each DataFrame which should allow for a more streamlined modeling process

In [24]:
# create a list of the four positions we will keep
pos = ['QB', 'RB', 'WR', 'TE']

# loop through each position
for i in pos:
    
    # create a mask of each position on training data
    mask = full_training_df[full_training_df['position'] == i]
    
    # export each positional df as a training dataset
    mask.to_csv(f'./data/{i}_training.csv')

In [25]:
# run a similar loop as above except for testing data
for i in pos:
    
    # mask testing data
    mask = test_df[test_df['position'] == i]
    
    #export testing positional df
    mask.to_csv(f'./data/{i}_test.csv')